body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

p {
    width: 100%;
    display: flex;
    justify-content: center;
}

.choose {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    cursor: pointer;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#results {
    width: 200px;
    height: 100px;
    margin-top: 50px;
}

.game {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#results {
    text-align: center;
} 

.end-game {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.end-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.restart-button {
    height: 40px;
    width: 100px;
    margin-top: 50px;
    background-color: rgb(161, 161, 201);
}